<div class="container-fluid px-4" style="background-color: #fff;">
    <div class="row g-3 my-2">
    </div>

    <div class="row my-5">

        <div class="col">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <h3 class="fs-4 mb-3 text-center">Batata Frita 500g</h3>
                            <p>Deliciosa porção de batata frita!</p>
                            <h5>Serve 2 pessoas</h5>

                            <div class="row">

                                <h5 class="card-title title-post-home price"><span style="color: #000;">Preço: </span>
                                    R$26,00</h5>

                            </div>

                            <!--<div class="text-center">
                                <button type="button" class="btn btn-danger">Realizar Pedido</button>
                            </div>-->

                        </div>

                        <div class="row my-5">
                            <h3 class="fs-4 mb-3"></h3>
                            <div class="col">
                                <div class="container">

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="card-center" style="">
                                                <div class="card text-center">
                                                    <h5 class="card-title title-post-home">Escolha como iremos
                                                        atendê-lo!<a href=""></a> </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="text-decoration: none;">
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"
                                            style="text-decoration: none;">
                                            <a href="/mesa" class="text-decoration: none;">
                                                <div class="card-center" style="">
                                                    <div class="card text-center">

                                                        <h5 class="card-title title-post-home"><i
                                                                class="fas fa-utensils me-2"></i>Presencial<a
                                                                href=""></a> </h5>
                                                        <p class="card-text">Faça seu pedido e receba em sua mesa!</p>
                                                        <h5 class="card-title title-post-home"></h5>

                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <a href="/endereco" class="text-decoration: none;">
                                                <div class="card-center" style="">
                                                    <div class="card text-center">

                                                        <h5 class="card-title title-post-home"><i
                                                                class="fas fa-shipping-fast me-2"></i>Delivery<a
                                                                href="artigo.html"></a> </h5>
                                                        <p class="card-text">Faça seu pedido e entregamos em sua casa!
                                                        </p>
                                                        <h5 class="card-title title-post-home"></h5>

                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">
                                <a href="">
                                    <img class="card-img-top item-img" src="/assets/home/fritas.jpg">
                                </a>
                                <br>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>