.item-img{
  max-width: 90%;
  /* height: calc(100% - 15px); */
  height: 14rem;
  margin: 0.5rem auto;
  object-fit: cover;
}

.price{
  color: #50a773;
}

button{
  background-color: #ff363d;
  border-color: #fff;
  margin-bottom: 0.5rem;
}

button:hover{
  background-color: #212529;
  border-color: #fff;
}

.product_card {
  width: 24rem;
}

#produto {
  width: 24rem;
  margin: 0;
}

