*{
  top: 2px;
  margin-top: 2px;
}
#produto:hover{
  background-color: #f2f1ef;
}

p{
  text-align: center;
}

#produto{
  /*min-height: 200px;
  height: 460px;*/
  min-height: auto;

  justify-content: space-between;
  padding: 2%;
}



div#page-content-wrapper{
  background-color: #f2f1ef;
  margin-top: 2px;

}

.item-img{
  /*height: 185px;*/
  /*height: 10rem;*/
  /*object-fit: cover;*/
  /*width: auto;*/
  max-width: 100%;
  height: calc(100% - 15px);
  /*height: 190px;*/
  object-fit: cover;
}

.price{
  color: #50a773 !important;
}

#title-presential{
  background-color: #ff363d !important;
  color: #fff;
}

#title-delivery{
  background-color: #ff363d !important;
  color: #fff;
}

button{
  background-color: #ff363d;
  border-color: #fff;
}


button:hover{
  background-color: #212529;
  border-color: #fff;
}

