.header_carrinho {
    background-color: #ff363d;
    color: #ff363d;
    width: 100%;
    position: absolute;
    top: 0;
}

.titulo-carrinho {
    background-color: #ff363d;
    width: 100%;
    color: #ffff;
    text-align: center;
    padding: 0.5rem;
}

.carrinho_content {
    padding: 0 1rem 0;
}

.carrinho_itens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1%;
    margin-top: 0.5rem;
}

.quantidade_controle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}


.btn-success {
    width: 8rem;
    margin-left: auto;
}

.realizado {
    opacity: 0.8;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.4);
}


.carrinho_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 3% 0 1% 1%;
}

.carrinho_footer p {
    font-weight: bold;
    margin: 0;
    font-size: 1.5rem;
}
