<div class="container-fluid px-4" style="background-color: #fff;">
  <div class="row g-3 my-2">
  </div>

  <div class="row my-5">

      <div class="col">
          <div class="container">
              <h1></h1>

              <div class="row">
                  <h1 class="display-4">Finalizar Pedido <i class="fa fa-check" aria-hidden="true"></i></h1>

                  <div class="col-md-12 order-md-1">
                      <span class="endereco" data-endereco=""></span>
                      <span id="msg"></span>
                      <form name="formPagamento" action="" id="formPagamento">
                          <span id="msg"></span>
                          <br>
                          <h4 class="mb-3">Escolha a forma de pagamento:</h4>

                          <br><br>

                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Dinheiro <i class="fas fa-money-bill icon"></i>
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Cartão de Crédito  <i class="fas fa-credit-card icon"></i>
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Cartão de Débito <i class="fas fa-money-check icon"></i>
                            </label>
                          </div>

                          <br><br>

                          <div class="row creditCard">

                            <h5 class="mb-3">Após a finalização do pedido você será direcionado para o nosso chat do whatsapp.  <img class="logo" src="/assets/whatsapp.png" width="5%"></h5>


                              <div class="p-col-12 text-center">

                                <button type="button" class="btn btn-danger button-finish">
                                          Finalizar Pedido
                                </button>

                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>

      </div>

  </div>
</div>
