<div class="p-grid p-justify-center card text-center">
    <div class="p-col-10 p-sm-6 p-md-4">
     
        <div class="p-grid">
          <div class="p-col-12 text-center">
            <i class="fas fa-sign-in-alt fa-4x" style="color: #d91e18;"></i>
            <h2>Login</h2>
          </div>
          <div class="p-col-12">
            <label for="">Usuário:</label>
            <input class="p-col-12 input-login" type="text" pInputText />
          </div>
          <div class="p-col-12">
            <label for="">Senha: </label>
            <input class="p-col-12 input-login" type="text" pInputText />
          </div>
          <div class="p-col-12">

            <button type="button" class="btn btn-primary button-login" >
                Entrar
            </button>

          </div>
          <div class="p-col-12">

            <p>Ainda não possui conta?   
              <a routerLink="/cadastro" class="nav-link" 
              role="button">Cadastre-se aqui</a>   
            </p>

          </div>
 
       

        </div>
 
    </div>




   