*{
 height: auto;
margin: 0 auto;
}


.button-login {
  background-color: #ff363d;
  margin: 2rem;
  border-color: #ff363d;
  width: 100px;
}

.button-login:focus {
  border-color: #ff363d;
  border-radius: #ff363d;
  box-shadow: #ff363d;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: none;
}

div#background-login.p-grid {
  border-radius: 16px;
}
