<div class="p-justify-center" style="
   background-color: #fff;
   width: 100%;
   height: 100%;
   margin: 0 auto;">

  <form [formGroup]="form" #loginForm="ngForm">
    <div class="p-col-10 p-sm-4 p-sx-4 p-md-4" style="height: auto">
      <div class="container">

        <div class="text-center pt-5 mb-5 p-3 mb-5" id="row2">
          <div class="container">
            <div class="row">

              <div class="p-col-10 p-sm-6 p-md-4">

                <div class="p-col-12 pb-5 text-center">
                  <img class="logo" src="/assets/logo.png">
                </div>

                <div class="row">
                  <div class="col-md-9 col-sm-12 col-xs-12 p-3">

                    <input [(ngModel)]="usuario.email" type="email" class="form-control is-invalid"
                      [ngClass]="{'is-invalid': f.email.errors && f.email.touched }" formControlName="email"
                      placeholder="Email">
                    <div *ngIf="f.email.errors?.required" class="invalid-feedback">
                      O e-mail é obrigatório
                    </div>
                    <div *ngIf="f.email.errors?.email" class="invalid-feedback">
                      Deve ser um endereço de email válido
                    </div>

                  </div>

                  <div class="col-md-9 col-sm-12 col-xs-12 p-3">

                    <input [(ngModel)]="usuario.password" type="password" class="form-control is-invalid"
                      [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched }" formControlName="senha"
                      placeholder="Senha">
                    <div *ngIf="f.senha.errors?.required" class="invalid-feedback">
                      A senha é obrigatória
                    </div>
                  </div>

                </div>

                <div class="p-col-12">

                  <a class="nav-link" role="button">
                    <button type="button" class="btn btn-primary button-login" [disabled]="loginForm.invalid" (click)="fazerLogin()">
                      Entrar
                    </button>
                  </a>

                </div>

                <div class="col">
                  <div class="p-col-12">

                    <a routerLink="esqueceu-senha" class="nav-link" role="button">Esqueceu a senha?</a>
                    <a routerLink="cadastro" class="nav-link" role="button">Clique aqui para se cadastrar</a>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </form>
</div>
