*{
  text-decoration: none !important;
}

a{
  color: black;
}

a:hover{
  color: #d91e18;
}


.bg-light{
  color: #fff;
  background-color: #d91e18 !important;
}

.bg-light:hover{
  color: #d91e18 !important;
  background-color: #fff !important;
}

