<div class="p-grid p-justify-center card text-center" style="padding: 2%;">
  <div  class="p-col-10 p-sm-6 p-md-4">
    <div class="container">

      <div id="background-login" class="p-grid" style="padding: 5%; background: #42dea4;">
        <div class="p-col-12 text-center">
          <i class="fas fa-check fa-4x" style="color: #d91e18;"></i>
          <h2>Compra realizada com sucesso!</h2>
        </div>
  
        <div class="p-col-12">
          <h3>O seu número de pedido é: 05562</h3>
        </div>
    
        <div class="p-col-12">
  
          <a href="/home" class="nav-link" role="button">
            <button type="button" class="btn btn-primary button-login">
              Voltar ao Menu Principal
            </button>
          </a>

          <a href="/home" class="nav-link" role="button">
            <button type="button" class="btn btn-primary button-login">
              Realizar Outras Compras
            </button>
          </a>

        </div>
   
      </div>



    </div>
  
  </div>
</div>