<div class="p-grid p-justify-center card text-center" style="padding: 2%;">
  <div  class="p-col-10 p-sm-6 p-md-4">
    <div class="container">

      <div id="background-login" class="p-grid" style="padding: 5%; background: #42dea4;">
        <div class="p-col-12 text-center">
          <i class="fas fa-check fa-4x" style="color: #d91e18;"></i>
          <h2>Compra realizada com sucesso!</h2>
        </div>

        <div class="p-col-12">
          <h4>Agora é só aguardar!</h4>
          <h5>Seu pedido será enviado na sua residência!</h5>
          <i class="fa fa-truck" aria-hidden="true"></i>
        </div>

        <div class="p-col-12">

          <a href="/home" class="nav-link" role="button">
            <button type="button" class="btn btn-primary button-login">
              Voltar ao Menu Principal
            </button>
          </a>

          <a href="/home" class="nav-link" role="button">
            <button type="button" class="btn btn-primary button-login">
              Realizar Outras Compras
            </button>
          </a>

        </div>

      </div>



    </div>

  </div>
</div>
