ul{
  display: flex;
  margin-top: 80px;
}
ul li{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul li .icon{
  font-size: 35px;
  color: #ff4732;
  margin: 0 60px;
}
ul li .text{
  font-size: 14px;
  font-weight: 600;
  color: #ff4732;
}

.MYprogress{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(68, 68, 68, 0.781);
  margin: 14px 0;
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.MYprogress::after{
  content: "";
  position: absolute;
  z-index: 10;
  width: 125px;
  height: 5px;
  background-color: rgba(68, 68, 68, 0.781);
  right: 30px;
}

.one::after{
  width: 0;
  height: 0;
}

ul li .MYprogress .svg-inline--fa{
  display: none;
}
ul li .MYprogress p{
  font-size: 13px;
}

/* Active Css  */

ul li .active{
  background-color: #ff4732;
  display: grid;
  place-items: center;
}
li .active::after{
  background-color: #ff4732;
}
ul li .active p{
  display: none;
}
ul li .active .svg-inline--fa{
  font-size: 20px;
  display: flex;
}

@media (max-width: 980px) {
  ul{
      flex-direction: column;
  }
  ul li{
      flex-direction: row;
  }
  ul li .MYprogress{
      margin: 0 30px;
  }
  .MYprogress::after{
      width: 5px;
      height: 55px;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
  }
  .one::after{
      height: 0;
  }
  ul li .icon{
      margin: 15px 0;
  }
}













