<div class="main" style="background-color: #f2f1ef;">

  <div class="head">
    <img class="logo" src="/assets/logo.png">
    <h2>Barra de Progresso</h2>
  </div>
  <ul>
    <li >
        <i class="icon fas fa-thumbs-up"></i>
          <div class="MYprogress one active">
            <p>1</p>
            <i class="fas fa-check"></i>
        </div>
        <p class="text">Aprovação</p>
    </li>
    <li>
        <i class="icon fas fa-hamburger"></i>
        <div class="MYprogress two active">
            <p>2</p>
            <i class="fas fa-check"></i>
        </div>
        <p class="text">Preparação</p>
    </li>
    <li>
        <i class="icon fas fa-motorcycle"></i>
        <div class="MYprogress three">
            <p>3</p>
            <i class="fas fa-check"></i>
        </div>
        <p class="text">Saiu para entrega</p>
    </li>
    <li>
        <i class="icon fas fa-utensils"></i>
        <div class="MYprogress four">
            <p>4</p>
            <i class="fas fa-check"></i>
        </div>
        <p class="text">Entregue</p>
    </li>
  </ul>


</div>




