  <div class="container-fluid px-4">
      <div class="row g-3 my-2">

          <div class="col-md-3" [ngClass]="'img-cooker'">

                  <img  class="card-img-top" style="max-width: 39%;" src="/assets/cozinheiro.png" align="middle">

          </div>
          <div class="col-md-8">
              <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                  <div>
                      <h3 class="fs-2">Bem vindo Lucas!</h3>
                      <p class="fs-5"></p>
                  </div>
                  <i class="fas fa-utensil-spoon fs-1 primary-text border rounded-full secondary-bg p-3"></i>
              </div>
          </div>

      </div>

      <div class="row my-5">
          <h3 class="fs-4 mb-3">Pedidos Recentes</h3>
          <div class="col">
              <table class="table bg-white rounded shadow-sm  table-hover">
                  <thead>
                      <tr>
                          <th scope="col" width="50">#</th>
                          <th scope="col">Produto</th>
                          <th scope="col">Cliente</th>
                          <th scope="col">Preço</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>Jantar</td>
                          <td>Lucas</td>
                          <td>R$20,00</td>
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Pão Italiano</td>
                          <td>Renato</td>
                          <td>R$5,00</td>
                      </tr>
                      <tr>
                          <th scope="row">3</th>
                          <td>Refrigerante</td>
                          <td>Matheus</td>
                          <td>$6,00</td>
                      </tr>
                      <tr>
                          <th scope="row">4</th>
                          <td>Água</td>
                          <td>André</td>
                          <td>R$2,00</td>
                      </tr>
                      <tr>
                          <th scope="row">12</th>
                          <td>Vinho</td>
                          <td>Renato</td>
                          <td>R$4,22</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

  </div>

