
<div class="container-fluid px-4" style="background-color: #f2f1ef;">
    <div class="row g-3">

        <!--<div class="col-md-8">
          <br>
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-2">Bem vindo Lucas!</h3>
                    <p class="fs-5"></p>
                </div>
                <i class="fas fa-utensil-spoon fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
        </div>-->

    </div>


    <div class="row my-5">
        <h3 class="fs-4 mb-3"></h3>
        <div class="col">
            <div class="container">

                <div class="row">
                    <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                        <div class="card-center">

                              <carousel  [interval]="myInterval" [(activeSlide)]="activeSlideIndex" >
                                <slide *ngFor="let slide of slides; let index=index">
                                  <img [src]="slide.image" alt="image slide" style="display: block; width: 100%; height: 20rem;">

                                  <div class="carousel-caption">
                                    <h4>Confira Nossas Promoções!</h4>
                                    <p>{{slide.text}}</p>
                                  </div>
                                </slide>
                              </carousel>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--
    <div class="row my-5">
        <h3 class="fs-4 mb-3">Promoções do dia!</h3>
        <div class="col">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">
                                <a href="/produto">
                                    <img class="card-img-top item-img" src="/assets/home/fritas.jpg">
                                </a>
                                <h5 class="card-title title-post-home"><a class="category" href="">Porções</a></h5>
                                <p class="card-text">Batata Frita (2 pessoas)</p>
                                <h5 class="card-title title-post-home price">R$20,00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">
                                <a href="/produto">
                                    <img class="card-img-top item-img" src="/assets/home/carne-assada.jpg">
                                </a>
                                <h5 class="card-title title-post-home"><a class="category" href="">Carnes</a></h5>
                                <p class="card-text">Carne Assada</p>
                                <h5 class="card-title title-post-home price">R$26,00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">
                                sdfsdf
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>-->


    <!--<carousel>
        <slide>
          <img src="assets/images/nature/7.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/images/nature/8.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/images/nature/1.jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </slide>
      </carousel>-->


    <div class="row my-5" >
        <h3 class="fs-4 mb-3">Promoções do dia!</h3>
        <div class="col">
            <div class="container">

                <div class="row" style="display: inline-block;">

                    <app-product-card *ngFor="let product of products" [products]="product"></app-product-card>
                </div>
            </div>
        </div>
    </div>

