
<div class="container-fluid px-4" style="background-color: #f2f1ef;">

    <div class="row my-5">
        <h3 class="fs-4 mb-3"></h3>
        <div class="col">
            <div class="container">

                <div class="row">
                    <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                        <div class="card-center">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

