#produto:hover{
  background-color: #f2f1ef;
}

#produto{
  min-height: 200px;
  height: 460px;
  justify-content: space-between;
  padding: 2%;
}

*{
  top: 2px;
  margin-top: 2px;
}

div#page-content-wrapper{
  background-color: #f2f1ef;
  margin-top: 2px;

}

.item-img{
  /*height: 185px;*/
  height: 185px;
  width: auto;
}

.price{
  color: #50a773 !important;
}

#title-presential{
  background-color: #ff363d !important;
  color: #fff;
}

#title-delivery{
  background-color: #ff363d !important;
  color: #fff;
}

button{
  background-color: #ff363d;
  border-color: #fff;
}


button:hover{
  background-color: #212529;
  border-color: #fff;
}

