<div class="container-fluid px-4" style="background-color: #fff;">
    <div class="row g-3 my-2">

        <div class="col-md-3 img-cooker">

            <img class="card-img-top" style="max-width: 39%;" src="/assets/cozinheiro.png" align="middle">

        </div>

        <div class="col-md-8">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-2">Bem vindo Lucas!</h3>
                    <p class="fs-5"></p>
                </div>
                <i class="fas fa-utensil-spoon fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
        </div>

    </div>



    <div class="row my-5">
        <h3 class="fs-4 mb-3"></h3>
        <div class="col">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">
                                <h3 class="card-title title-post-home">Escolha como iremos atendê-lo. Confira nosso
                                    cardápio!<a href=""></a> </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">

                                <h5 id="title-presential" class="card-title title-post-home"><i class="fas fa-utensils me-2"></i>Presencial<a
                                        href=""></a> </h5>
                                <p class="card-text">Faça seu pedido e receba em sua mesa!</p>
                                <h5 class="card-title title-post-home"></h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">

                                <h5 id="title-delivery" class="card-title title-post-home"><i
                                        class="fas fa-shipping-fast me-2"></i>Delivery<a href=""></a> </h5>
                                <p class="card-text">Faça seu pedido e entregamos em sua casa!</p>
                                <h5 class="card-title title-post-home"></h5>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--<carousel>
        <slide>
          <img src="assets/images/nature/7.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/images/nature/8.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/images/nature/1.jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </slide>
      </carousel>-->


    <div class="row my-5">
        <h3 class="fs-4 mb-3">Promoções do dia!</h3>
        <div class="col">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">
                                <a href="/produto">
                                    <img class="card-img-top item-img" src="/assets/home/fritas.jpg">
                                </a>
                                <h5 class="card-title title-post-home"><a class="category" href="">Porções</a></h5>
                                <p class="card-text">Batata Frita (2 pessoas)</p>
                                <h5 class="card-title title-post-home price">R$20,00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">
                                <a href="/produto">
                                    <img class="card-img-top item-img" src="/assets/home/carne-assada.jpg">
                                </a>
                                <h5 class="card-title title-post-home"><a class="category" href="">Carnes</a></h5>
                                <p class="card-text">Carne Assada</p>
                                <h5 class="card-title title-post-home price">R$26,00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">
                                <a href="/produto">
                                    <img class="card-img-top item-img" src="/assets/home/cerveja-long-neck.jpg">
                                </a>
                                <h5 class="card-title title-post-home"><a class="category" href="">Bebidas</a></h5>
                                <p class="card-text">Cerveja Long Neck</p>
                                <h5 class="card-title title-post-home price">R$20,00</h5>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">
                                <a href="/produto">
                                    <img class="card-img-top item-img" src="/assets/home/chicken-burger.jpg">
                                </a>
                                <h5 class="card-title title-post-home"><a class="category" href="">Sanduíches</a></h5>
                                <p class="card-text">Chicken Burger</p>
                                <h5 class="card-title title-post-home price">R$13,00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">
                                <a href="/produto">
                                    <img class="card-img-top item-img" src="/assets/home/morango.jpg">
                                </a>
                                <h5 class="card-title title-post-home"><a class="category" href="">Porções</a></h5>
                                <p class="card-text">Morango</p>
                                <h5 class="card-title title-post-home price">R$11,00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
                        <div class="card-center" style="">
                            <div class="card text-center">
                                <a href="/produto">
                                    <img class="card-img-top item-img" src="/assets/home/almoco.jpeg">
                                </a>
                                <h5 class="card-title title-post-home"><a class="category" href="">Pratos</a></h5>
                                <p class="card-text">Almoço Empresarial</p>
                                <h5 class="card-title title-post-home price"><span>R$15,00</span></h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>