* {
  margin: auto;
}
.card {
  margin-top: 4em;

}

.input-login {
  margin: 1rem;
}

#editar{
  background-color:	#FFD700;
  margin: 2rem;
  border-color:	#FFD700;
}

.button-login {
  background-color: #ff363d;
  margin: 2rem;
  border-color: #ff363d;
}

.button-login:focus {
  border-color: #ff363d;
  border-radius: #ff363d;
  box-shadow: #ff363d;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: none;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ff363d;
  outline: 1;
  box-shadow: none !important;
}

#row2 {
  width: auto;
  margin-top: 5px !important;
}
