.container_pagameto {
  background: #f2f1ef;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text_container {
  width: 30vw;
  text-align: center;
}

.text_container h1 {
  color: #414141;
  font-size: 2rem;
}

.text_container p {
  color: #ff363d;
  font-weight: bold;
  font-size: 1rem;
}


.conta_wrapper {
  margin: 2rem auto;
  width: 30vw;
  background: #ffff;
  padding: 0.5rem;
  border-radius: 10px;
  border: solid 3px rgba(65, 65, 65, 0.4);
  border-style: dashed;
}

.conta_wrapper::before {
  content: "";
  height: 0;
  float: left;
  padding-bottom: 70%;

}

.conta_wrapper::after {
  content: "";
  display: block;
  clear: both;
}

table {
  border-collapse:collapse;
}


tbody tr {
  border-top: solid 1px rgba(65, 65, 65, 0.4);
  border-style: dashed;
}

tbody td:nth-child(3) {
  text-align: center;
}

tfoot td {
  border-top: solid 2px rgba(65, 65, 65, 0.4);
  border-style: dashed;
  font-weight: bold;
  padding-top: 2rem;
}


@media (max-width: 912px) {
  .logo {
      width: 8rem;
  }

  .text_container h1 {
      font-size: 1.4rem;
  }
  

  .conta_wrapper {
      width: 50vw;
  }

  .text_container {
      width: 50vw;
  }

  .row_input {
      width: 50vw;
  }
}

@media (max-width: 500px) {

  .conta_wrapper {
      width: 80vw;
  }

  .text_container {
      width: 80vw;
  }

  .row_input {
      width: 80vw;
  }
}