<!-- Footer -->
<footer class="bg-dark text-center text-white" style="background-color: #ff363d;">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

          <a href="#" class="brand-wrap" data-abc="true">
            <img class="logo" src="/assets/smart-service-branco.png"> <span
              class="logo"></span> </a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-hamburger me-3"></i>SOBRE NÓS
          </h6>
          <p>
            Aplicação web para gestão de restaurante.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Devs</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">André</a>
            </li>
            <li>
              <a href="#!" class="text-white">Matheus</a>
            </li>
            <li>
              <a href="#!" class="text-white">Luan</a>
            </li>
            <li>
              <a href="#!" class="text-white">Heitor</a>
            </li>
            <li>
              <a href="#!" class="text-white">Pedro</a>
            </li>
            <li>
              <a href="#!" class="text-white">Fabrício</a>
            </li>

          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #ff363d;">
    © 2021 Smart Service. Todos os direitos reservados. Desenvolvido por:
    <a class="text-white" href="#">Alunos FATEC</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
