<div class="container-fluid px-4" style="background-color: #fff;">
  <div class="row g-3 my-2">
  </div>

  <div class="row my-12">

    <div class="col">
      <div class="container">

        <div class="card text-center">
          <div class="card-header">
            Porções (Categoria)
          </div>
          <div class="card-body">
            <h5 class="card-title">{{product.nome}}</h5>
            <div class="card text-center">
                <img class="card-img-top item-img" src="data:image/jpeg;base64,{{ product.imgUrl }}" height="50">
            </div>
            <br>
            <p class="card-text">{{product.descricao}}</p>

            <div class="row">

              <h5 class="card-title title-post-home price"><span style="color: #000;">Preço: </span>
                {{product.preco}}</h5>

            </div>

            <div class="p-col-12">
              <a class="nav-link p-3" role="button">
                <button type="button" class="btn btn-primary button-login">
                  Adicionar ao Carrinho
                </button>
              </a>
            </div>
          </div>
          <div class="card-footer text-muted">
            2 dias atrás
          </div>
        </div>
        <br>
        <br>


      </div>
    </div>
  </div>
