*{
  text-decoration: none !important;
}

a{
  color: black;
}

a:hover{
  color: #d91e18;
}


.item-img{
  height: 10rem;

}

button{
  background-color: #ff363d;
  border-color: #fff;
}

button:hover{
  background-color: #212529;
  border-color: #fff;
}


.category{
  color: #2e3131!important;
  text-decoration: none;
}

.category:hover{
  color: #d91e18 !important;
  text-decoration: none;
}

.price{
  color: #50a773 !important;
}

