<div class="container-fluid px-4" style="background-color: #fff;">
  <div class="row g-3 my-2">
  </div>

  <div class="row my-12">

    <div class="col">
      <div class="container">

        <div class="card text-center">
          <div class="card-header">
            Destaque
          </div>
          <div class="card-body">
            <h5 class="card-title">Título especial</h5>

            <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
          </div>
          <div class="card-footer text-muted">
            2 dias atrás
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card-center" style="">
              <h3 class="fs-4 mb-3 text-center">Batata Frita 500g</h3>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card-center" style="">
                  <div class="card text-center">
                    <a href="">
                      <img class="card-img-top item-img" src="/assets/home/fritas.jpg">
                    </a>
                    <br>


                  </div>
                </div>
              </div>


              <p>Deliciosa porção de batata frita!</p>
              <h5>Serve 2 pessoas</h5>

              <div class="row">

                <h5 class="card-title title-post-home price"><span style="color: #000;">Preço: </span>
                  R$26,00</h5>

              </div>

              <div class="p-col-12">
                <a class="nav-link p-3" role="button">
                  <button type="button" class="btn btn-primary button-login">
                    Adicionar ao Carrinho
                  </button>
                </a>
              </div>

            </div>



          </div>



        </div>


      </div>
    </div>
  </div>
