*{
  text-decoration: none !important;
}

a{
  color: black;
}

a:hover{
  color: #d91e18;
}


.button-finish{
  background-color: #d91e18;
  margin: 2rem;
  border-color: #d91e18;
}

.button-finish:focus{
  background-color: #d91e18;
  margin: 2rem;
  border-color: #d91e18;

}


.item-img{
  height: 100px;
}


.button-login:focus{
  border-color: #d91e18;
  border-radius: #d91e18;
  box-shadow: #d91e18;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
  box-shadow: none;
}

.form-control:focus {
color: #212529;
background-color: #fff;
border-color: #d91e18;
outline: 1;
box-shadow: none !important;
}