<div class="p-justify-center" style="background-color: #f2f1ef; ">

  <div class="row">
    <div class="p-col-10 p-sm-6 p-md-4">

      <div class="p-col-12 text-center">
        <img class="logo" src="/assets/logo.png">
      </div>
    </div>

  </div>

  <form>
    <div class="row">
      <div class="card pt-3 mb-5 shadow p-3 mb-5 bg-white rounded" id="row2">
        <div class="container card-body">
          <div class="row">

            <div class="p-col-10 p-sm-6 p-md-4">


              <h3 class="pb-3">Dados Pessoais</h3>


              <div class="row">
                <div class="col-md-6 mb-3">

                  <label>Nome Completo</label>
                  <input
                    type="text"
                    class="form-control is-invalid"
                    formControlName="nomeCompleto"
                    placeholder="Ex: José da Silva Almeida">

                </div>
                <div class="col-md-6 mb-3">
                  <label>E-mail</label>
                  <input
                   type="email"
                   class="form-control is-invalid"
                   formControlName="email"
                   placeholder="Ex: seuemail@outlook.com">

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label>Senha</label>
                  <input
                    type="text"
                    name=""
                    id=""
                    class="form-control is-invalid"
                    formControlName="senha"
                    placeholder="Sua senha deve conter no mínimo 5 caracteres"
                    >

                </div>
                <div class="col-md-6 mb-3">
                  <label>Confirmar Senha</label>
                  <input
                    type="text"
                    name=""
                    id=""
                    class="form-control is-invalid"
                    formControlName="confirmarSenha"
                    placeholder="Sua senha deve conter no mínimo 5 caracteres">

                </div>
              </div>

              <div class="row">
                <div class="col-md-3 mb-3">
                  <label>DDD</label>
                  <input
                  type="text"
                   id=""
                   class="form-control is-invalid"
                   formControlName="ddd"
                   placeholder="Ex: 13">
                </div>
                <div class="col-md-9 mb-3">
                  <label>Telefone</label>
                  <input
                   type="text"
                   name=""
                   id=""
                   class="form-control is-invalid"
                   formControlName="telefone"
                   placeholder="Telefone sem traço Ex: 32256598 ">

                </div>
              </div>


              <div class="row pt-3">
                <h3 class="pb-3">Endereço de Entrega</h3>

                <div class="col-md-3 mb-3">
                  <label>CEP</label>
                  <input
                   type="text"
                   class="form-control is-invalid"
                   id=""
                   formControlName="cep"
                  placeholder="CEP sem traço Ex: 110600000, 13165000">
                </div>
                <div class="col-md-8 mb-3">
                  <label>Logradouro</label>
                  <input
                   type="text"
                   class="form-control is-invalid"
                   formControlName="logradouro"
                   placeholder="Av. Rua">
                </div>
                <div class="col-md-1 mb-3">
                  <label>Número</label>
                  <input
                   type="text"
                   name=""
                   class="form-control is-invalid"
                   id=""
                   formControlName="numero"
                   placeholder="Ex: 78, 99, 505">
                </div>

              </div>

              <div class="row">
                <div class="col-md-3 mb-3">
                  <label>Complemento</label>
                  <input
                    type="text"
                    name=""
                    class="form-control is-invalid"
                    id=""
                    formControlName="complemento"
                    placeholder="Ex: BLOCO C, apt 505">
                </div>

                <div class="col-md-4 mb-3">
                  <label>Bairro</label>
                  <input
                    type="text"
                    class="form-control is-invalid"
                    id=""

                    formControlName="bairro"
                    placeholder="Ex: Campo Grande, Aparecida">

                </div>
                <div class="col-md-4 mb-3">
                  <label>Cidade</label>
                  <input

                  type="text"
                  class="form-control is-invalid"
                  id=""

                  formControlName="cidade"
                  placeholder="Ex: Santos, São Vicente">

                </div>
                <div class="col-md-1 mb-3">
                  <label>Estado</label>
                  <select
                   name=""
                    class="custom-select d-block w-100 is-invalid" id="">
                    <option value="">Selecione</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP" selected>SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                  </select>
                </div>

              </div>


              <div class="p-col-12 text-center">
                <a>
                  <button type="button" class="btn btn-warning button-login">
                    Editar
                  </button>
                </a>

                <a href="#">
                  <button type="button"  class="btn btn-danger button-login">
                    Voltar
                  </button>
                </a>
              </div>

              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

