<div class="p-justify-center" style="background-color: #f2f1ef; ">

    <div class="row">
      <div class="p-col-10 p-sm-6 p-md-4">
  
        <div class="p-col-12 text-center">
          <img class="logo" src="/assets/logo.png">
        </div>
      </div>
  
    </div>
  
    <!-- <form [formGroup]="form"> -->
      <div class="row">
        <div class="card pt-3 mb-5 shadow p-3 mb-5 bg-white rounded" id="row2">
          <div class="container card-body">
            <div class="row">
  
              <div class="p-col-10 p-sm-6 p-md-4">
  
  
                <h3 class="pb-3">Dados Produto</h3>
  
  
                <div class="row">
                  <div class="col-md-6 mb-3">
  
                    <label>Nome do produto</label>
                    <input
                      [(ngModel)]="produto.nome"
                      type="text"
                      class="form-control is-invalid"
                     >
                    
  
  
                  </div>
                  <div class="col-md-6 mb-3">
                    <label>Categoria</label>
                    <input
                     [(ngModel)]="produto.categoria"
                     type="email"
                     class="form-control is-invalid"
                     
                     placeholder="Ex: seuemail@outlook.com">
                    
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label>Preço</label>
                    <input
                        [(ngModel)]="produto.preco"
                      type="number"
                      name=""
                      id=""
                      class="form-control is-invalid"
                     
                      placeholder="Sua senha deve conter no mínimo 5 caracteres"
                      >
                     
  
                  </div>
                  
                </div>
  
                <div class="row">
                  <div class="col-md-3 mb-3">
                    <label>Descrição</label>
                    <input
                    [(ngModel)]="produto.descricao"
                    type="text"
                     id=""
                     class="form-control is-invalid"
                     
                     placeholder="Ex: 13">
                   
                  </div>
                  <div class="col-md-9 mb-3">
                    <label>Estoque</label>
                    <input
                    [(ngModel)]="produto.estoque"
                     type="number"
                     name=""
                     id=""
                    
                     placeholder="Telefone sem traço Ex: 32256598 ">
                    
                  </div>
                </div>
  

                <input type="file" (change)="inputFileChange($event)"> 
  
                <div class="p-col-12 text-center">
                  <a>
                    <button type="button" class="btn btn-primary button-login" (click)="fazerCadastro()">
                      Cadastrar
                    </button>
                  </a>
                </div>
  
                <!-- </form> -->
              <!-- </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  
  </div>

<input type="file" (change)="inputFileChange($event)"> -->