<div class="p-justify-center" style="background-color: #f2f1ef;">

    <div class="row">
      <div class="p-col-10 p-sm-6 p-md-4">

        <div class="p-col-12 text-center">
          <img class="logo" src="/assets/logo.png">
        </div>
      </div>

    </div>

    <form [formGroup]="form" #cadastroForm="ngForm" class="form_card">
      <div class="row">
        <div class="card pt-3 mb-5 shadow p-3 mb-5 bg-white rounded" id="row2">
          <div class="container card-body">
            <div class="row">

              <div class="p-col-10 p-sm-6 p-md-4">


                <h3 class="pb-3">Cadastro de Produto</h3>


                <div class="row">
                  <div class="col-md-6 mb-3">

                    <label>Nome do produto</label>
                    <input
                      [(ngModel)]="produto.nome"
                      type="text"
                      class="form-control is-invalid"
                      [ngClass]="{'is-invalid': f.nomeProduto.errors && f.nomeProduto.touched }"
                      formControlName="nomeProduto"
                      placeholder="Ex: Batata frita 200g"
                     >
                     <div *ngIf="f.nomeProduto.errors?.required" class="invalid-feedback">
                      Nome do Produto é obrigatório
                    </div>

                  </div>
                  <div class="col-md-6 mb-3">
                    <label>Categoria</label><br>
                    <select 
                    [(ngModel)]="produto.categoria"
                     class="form-control is-invalid"
                     [ngClass]="{'is-invalid': f.categoria.errors && f.categoria.touched }"
                     formControlName="categoria"
                     name=""
                     id=""
                     (change)="changeValue($event)"
                     style="width: 100%; height: 36px;">
                      <option value="">Selecione</option>
                      <option *ngFor="let categoria of categotias" value="{{categoria}}">{{categoria}}</option>
                    </select>

                     <div *ngIf="f.categoria.errors?.required" class="invalid-feedback">
                      Nome da Categoria é obrigatório
                    </div>

                  </div>

                </div>

                <div class="row">
                  <div class="col-md-12 mb-3">
                    <label>Descrição</label>
                    <input
                     [(ngModel)]="produto.descricao"
                     type="text"
                     id=""
                     class="form-control is-invalid"
                     [ngClass]="{'is-invalid': f.descricao.errors && f.descricao.touched }"
                     formControlName="descricao"
                     placeholder="Ex: Batatas-Fritas deliciosas que serve até 3 pessoas!"
                     >
                     <div *ngIf="f.descricao.errors?.required" class="invalid-feedback">
                      Nome da Descrição é obrigatório
                    </div>

                  </div>

                </div>

                <div class="row">

                  <div class="col-md-6 mb-3">
                    <label>Preço</label>
                    <input
                        [(ngModel)]="produto.preco"
                      type="number"
                      name=""
                      id=""
                      class="form-control is-invalid"
                      [ngClass]="{'is-invalid': f.preco.errors && f.preco.touched }"
                      formControlName="preco"
                      placeholder="Ex: 5.50 R$">
                      <div *ngIf="f.preco.errors?.required" class="invalid-feedback">
                        O preço é obrigatório
                      </div>
                  </div>
                  <div class="col-md-2 mb-3">
                    <label>Estoque</label>
                    <input
                    [(ngModel)]="produto.estoque"
                      type="number"
                      name=""
                      id=""
                      class="form-control is-invalid"
                      [ngClass]="{'is-invalid': f.estoque.errors && f.estoque.touched }"
                      formControlName="estoque"
                      placeholder="Ex: 5">
                     <div *ngIf="f.estoque.errors?.required" class="invalid-feedback">
                       O Estoque é obrigatório
                    </div>

                  </div>
                  <div class="col-md-4 mb-3">
                    <label>Escolha a foto</label>
                    <input
                    [(ngModel)]="produto.imgUrl"
                     type="file"
                     name=""
                     id=""
                     [ngClass]="{'is-invalid': f.preco.errors && f.preco.touched }"
                     formControlName="arquivo"
                     (change)="inputFileChange($event)"
                     >
                  </div>
                  <div *ngIf="f.categoria.errors?.required" class="invalid-feedback">
                    Foto é obrigatória
                  </div>

                </div>

                <div class="p-col-12 text-center">

                  <a>
                    <button type="button" class="btn btn-primary button-cadastro" *ngIf="cadastro" (click)="fazerCadastro()" [disabled]="cadastroForm.invalid" [disabled]="isLoading">
                      <img *ngIf="isLoading" src="/assets/loading-buffering.gif" alt="loading" style="width: 20%;">
                      Cadastrar
                    </button>
                  </a>

                </div>

                <div *ngIf="edicao" class="p-col-12 text-center">
                  <a>
                    <button type="button" class="btn btn-warning button-editar" (click)="editarCadastro()"  [disabled]="isLoading">
                    <img *ngIf="isLoading" src="/assets/loading-buffering.gif" alt="loading" style="width: 20%;">
                      Editar
                    </button>
                  </a>
                
                  <a (click)="voltaParaLista()">
                    <button type="button" class="btn btn-danger button-login"  [disabled]="isLoading">
                      Voltar
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
  </form>
</div>


<!--<input type="file" (change)="inputFileChange($event)"> -->
