<div class="" id="sidebar-wrapper" style="background-color: #f2f1ef;">
        <div [ngClass]="'text-sidebar'"
                class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                        class="fas fa-utensils me-2"></i>Smart service
        </div>

        <div class="list-group list-group-flush my-3">
                <!--<a href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                  class="fas fa-tachometer-alt me-2"></i>Dashboard</a>-->

                <a routerLink="/home"
                        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                                class="me-2"></i>MENU<img style="max-width: 5rem;" class="card-img-top"
                                src="/assets/cardapio.png"></a>
                <a routerLink="hamburger" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                                class="fas fa-hamburger me-2"></i>Sanchuíches</a>
                <a routerLink="porcoes" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                                class="fas fa-drumstick-bite me-2"></i>Porções</a>
                <a routerLink="bebidas" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                                class="fas fa-cocktail me-2"></i>Bebidas</a>
                <a routerLink="alcoolicas" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                                class="fas fa-beer me-2"></i>Bebidas Alcoólicas</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                                class="fas fa-power-off me-2"></i>Sair</a>
        </div>
</div>