  .list-group-item {
    border: none;
    padding: 20px 30px;
   }

  .list-group-item.active {
   background-color: transparent;
   color: var(--main-text-color);
   font-weight: bold;
   border: none;
  }


  .form-inputs {
    position: relative
  }

  .form-inputs .form-control {
    height: 45px
  }

  .form-inputs .form-control:focus {
    box-shadow: none;
    border: 1px solid #000
  }

  .form-inputs i {
    position: absolute;
    right: 10px;
    top: 15px
  }

  .shop-bag {
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 25px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center
  }

  .qty {
    font-size: 12px
  }





    .second-text {
      color: var(--second-text-color);
    }

    .second-text:hover {
      color: #ff363d;
    }

    #teste{
      width: 20%;
    }

    img{
      max-width: 100%;

    }

    .icon{
      color: #ff363d;
    }

    body {
      background-color: #eee
  }

  .header-main {
      position: relative;
      padding-top: 7px;
      padding-bottom: 7px;
      background-color: #ff363d
  }

  .logo {
      color: #fff;
      font-size: 25px;
      font-weight: 600
  }

  .brand-wrap {
      text-decoration: none !important
  }

  .icon-sm {
      width: 48px;
      height: 48px;
      line-height: 48px !important;
      font-size: 20px
  }


  .widget-header {
      display: inline-block;
      vertical-align: middle;
      position: relative
  }

  .widget-header .notify {
      position: absolute;
      top: -3px;
      right: -10px
  }

  .notify {
      position: absolute;
      top: -4px;
      right: -10px;
      display: inline-block;
      padding: .25em .6em;
      font-size: 12px;
      line-height: 1;
      text-align: center;
      border-radius: 3rem;
      color: #fff;
      background-color: #fa3434
  }

  .mr-3,
  .mx-3 {
      margin-right: 1rem !important
  }

  .search-form {
      border: 1px solid #000 !important
  }

  .search-button {
      color: #ff363d;
      background-color: #ffffff;
      border-color: #ffffff
  }

  .search-button {
      color: #ff363d;
      background-color: #ffffff;
      border-color: #ffffff
  }

  .navbar-main {
      background-color: #fff
  }

  .navbar-toggler {
      color: rgba(0, 0, 0, 0.5);
      color: rgba(0, 0, 0, 0.5);
      border-color: rgba(0, 0, 0, 0.1) !important
  }

  .navbar-toggler {
      padding: 4px;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.37rem
  }


  .navbar-toggler-icon {
      background-image: url(https://img.icons8.com/ios/50/000000/menu.png)
  }

  .nav-link {
      text-transform: uppercase;
      font-weight: 400
  }

  .vl {
      border-left: 1px solid #fff;
      height: 100%
  }

  .fas {
      color: #fff
  }

  .login {
      color: black
  }


  /*Os que estão abaixo eu tirei do global*/


  .rounded-full {
    border-radius: 100%;
  }



/* CARRINHO */
.carrinho {
    width: 60vw;
    height: 60vh;
    overflow-y: auto;
    box-shadow: 10px 10px 10px 0.1px rgba(0, 0, 0, 0.2);
    /* padding: 0 40% 0; */
}


.carrinho-vazio {
  text-align: center;
}

#sair{
  color:  #ff363d;
}

.nav-link.second-text.fw-bold.carrinho_cheio::before {

    content: "";
    background: #fa3434;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 10px;
 }

 @media (max-width: 600px) {
  .carrinho {
    width: 90vw;
  }

 }


