<header class="section-header">
  <nav class="navbar navbar-dark navbar-expand p-0 bg-dark">
    <div class="container-fluid">
      <ul class="navbar-nav d-none d-md-flex mr-auto">
        <!--<li class="nav-item"><a class="nav-link" href="#" data-abc="true">Delivery</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-abc="true">Ótimos Preços</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-abc="true">Pratos Todos os Dias</a></li>-->
      </ul>
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item">
          <div *ngIf="isAdmin" class="btn-group d-lg-block d-xl-nonee">
            <a href="admin/lista/produtos" class="nav-link second-text fw-bold" id="" aria-expanded="false"
              role="button" data-toggle="dropdown" aria-haspopup="true">
              <i class="fa fa-lock" aria-hidden="true"></i> Área Administrativa
            </a>
          </div>
        </li>
        <li class="nav-item">

          <div ngbDropdown class="dropdown btn-group d-lg-block d-xl-nonee">
            <a ngbDropdownToggle class="nav-link dropdown-toggle second-text fw-bold" id="navbarDropdown"
              aria-expanded="false" role="button" data-toggle="dropdown" aria-haspopup="true">
              <i class="fas fa-user me-2"></i>{{nomeUsuario}}
            </a>
            <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
              <li><a ngbDropdownItem (click)="vaiParaEditarCadastro()">Dados Pessoais</a></li>
              <li><a ngbDropdownItem (click)="fazerLogoff()">Sair <i class="fa fa-power-off" aria-hidden="true"
                    id="sair"></i></a></li>
            </ul>
          </div>
        </li>
      </ul> <!-- list-inline // -->
    </div> <!-- navbar-collapse .// -->
    <!-- container // -->
  </nav> <!-- header-top-light.// -->
  <section class="header-main border-bottom bg-white d-none d-lg-block">
    <div class="container-fluid">
      <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
        <div class="col-md-2 col-xs-2">
          <img class="d-none d-md-flex" src="/assets/logo.png" width="100">
        </div>
        <div class="col-md-8 col-xs-8">

        </div>
        <div class="col-md-2 col-xs-2">
          <div class="d-flex d-none d-md-flex flex-row align-items-center">
            <div class="d-flex flex-column ms-2">
              <div ngbDropdown (click)="atualizaTotal()">
                <a ngbDropdownToggle target="_blank" [ngClass]="carrinho.length > 0  ? 'carrinho_cheio' : ''"
                  class="nav-link second-text fw-bold">
                  <i class="fas fa fa-shopping-cart second-text fw-bold"></i>
                </a> <span class="vl"></span>

                <div class="carrinho" ngbDropdownMenu>
                  <app-carrinho [carrinho]="carrinho" *ngIf="carrinho.length > 0"></app-carrinho>
                  <h1 *ngIf="carrinho.length == 0" class="carrinho-vazio">O carrinho está vazio 😔</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="dropdown btn-group d-lg-none">
      <div ngbDropdown (click)="atualizaTotal()">
        <a ngbDropdownToggle target="_blank" [ngClass]="carrinho.length > 0  ? 'carrinho_cheio' : ''"
          class="nav-link second-text fw-bold">
          <i class="fas fa fa-shopping-cart second-text fw-bold"></i>
        </a> <span class="vl"></span>

        <div class="carrinho" ngbDropdownMenu>
          <app-carrinho [carrinho]="carrinho" *ngIf="carrinho.length > 0"></app-carrinho>
          <h1 *ngIf="carrinho.length == 0" class="pt-3">O carrinho está vazio 😔</h1>
        </div>
      </div>
    </div>


    <div class="dropdown btn-group d-lg-none">
      <nav class="navbar navbar-expand-lg" *ngIf="showMenu()">
        <div class="container-fluid">
          MENU<a class="navbar-brand" routerLink="dashboard"></a>
          <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#categorias" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </div>
  </nav>

  <!--<div class="row d-lg-none">
    <div class="container">
    <div class="col-xs-12">
      <div class="d-flex form-inputs">
        <input class="form-control"
         type="text"
         placeholder="Pesquisar..."
         style="width: 100%;">
        <i class="bx bx-search"></i>
      </div>
    </div>
  </div>
  </div>-->

</header>



<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light d-none d-lg-block">

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="categorias">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a routerLink="hamburgers" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-hamburger me-2"></i>Hamburgers</a>
      </li>
      <li class="nav-item">
        <a routerLink="porções" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-drumstick-bite me-2"></i>Porções</a>
      </li>
      <li class="nav-item">
        <a routerLink="bebidas" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-cocktail me-2"></i>Bebidas</a>
      </li>
      <li class="nav-item">
        <a routerLink="bebidasalcolicas"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-beer me-2"></i>Cervejas</a>
      </li>
      <li class="nav-item">
        <a routerLink="sobremesas" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-ice-cream me-2"></i>Sobremesas</a>
      </li>
    </ul>

  </div>
</nav>




<nav class="navbar-light bg-light .d-block .d-sm-none">

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="categorias">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="hamburgers" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
          (click)="isCollapsed = !isCollapsed"><i class="icon fas fa-hamburger me-2"></i>Hamburgers</a>
      </li>
      <li class="nav-item">
        <a routerLink="porções" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
          (click)="isCollapsed = !isCollapsed"><i class="icon fas fa-drumstick-bite me-2"></i>Porções</a>
      </li>
      <li class="nav-item">
        <a routerLink="bebidas" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
          (click)="isCollapsed = !isCollapsed"><i class="icon fas fa-cocktail me-2"></i>Bebidas</a>
      </li>
      <li class="nav-item">
        <a routerLink="bebidasalcolicas"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
          (click)="isCollapsed = !isCollapsed"><i class="icon fas fa-beer me-2"></i>Cervejas</a>
      </li>
      <li class="nav-item">
        <a routerLink="sobremesas" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
          (click)="isCollapsed = !isCollapsed"><i class="icon fas fa-ice-cream me-2"></i>Sobremesas</a>
      </li>
    </ul>

  </div>
</nav>
