<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-3 col-sm-4 col-md-4 col-5"> <a href="#" class="brand-wrap" data-abc="true">
            <img class="logo" src="/assets/logo.png"> <span
              class="logo"></span> </a> </div>
        <div class="col-lg-4 col-xl-5 col-sm-8 col-md-4 d-none d-md-block">
          <form action="#" class="search-wrap">
            <div class="input-group w-100"> <input type="text" class="form-control search-form" style="width:55%;"
                placeholder="Pesquisar">
              <div class="input-group-append">
                <button class="btn btn-primary search-button" type="submit"  style="margin-left: 1px;"> <i
                    class="fa fa-search pl-8"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-5 col-xl-4 col-sm-8 col-md-4 col-7">
          <div class="d-flex justify-content-end">
            <div ngbDropdown>
              <a ngbDropdownToggle target="_blank" class="nav-link second-text fw-bold">
                <i class="fas fa fa-shopping-cart second-text fw-bold"></i>
              </a> <span class="vl"></span>
  <!-- Carrinho -->
              <div class="carrinho" ngbDropdownMenu>
                <app-carrinho [carrinho]="carrinho"></app-carrinho>
              </div>
            </div>
  <!-- Carrinho -->
            <div ngbDropdown class="dropdown btn-group d-lg-block d-xl-nonee">
              <a ngbDropdownToggle class="nav-link dropdown-toggle second-text fw-bold" id="navbarDropdown" aria-expanded="false"  role="button" data-toggle="dropdown" aria-haspopup="true">
                <i class="fas fa-user me-2"></i>André
              </a>
              <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                <li><a ngbDropdownItem href="dados-pessoais">Dados Pessoais</a></li>
                <li><a ngbDropdownItem href="#">Sair <i class="fa fa-power-off" aria-hidden="true" id="sair"></i></a></li>
              </ul>
            </div>

            <div class="dropdown btn-group d-lg-none">
              <nav class="navbar navbar-expand-lg" *ngIf="showMenu()">
                <div class="container-fluid">
                  <a class="navbar-brand" routerLink="dashboard"></a>
                  <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#categorias" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
              </nav>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

</header>


<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light d-none d-lg-block">
  <a class="navbar-brand" href="#"></a>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="categorias">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="home" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-search-dollar me-2"></i>Promoções</a>
      </li>
      <li class="nav-item active">
        <a routerLink="hamburger" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-hamburger me-2"></i>Sanchuíches</a>
      </li>
      <li class="nav-item">
        <a routerLink="porcoes" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-drumstick-bite me-2"></i>Porções</a>
      </li>
      <li class="nav-item">
        <a routerLink="bebidas" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-cocktail me-2"></i>Bebidas</a>
      </li>
      <li class="nav-item">
        <a routerLink="alcoolicas" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-beer me-2"></i>Bebidas Alcoólicas</a>
      </li>
      <li class="nav-item">
        <a routerLink="porcoes" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-ice-cream me-2"></i>Sobremesas</a>
      </li>
      <li class="nav-item">
        <a routerLink="porcoes" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="icon fas fa-pizza-slice me-2"></i>Pizza</a>
      </li>
    </ul>

  </div>
</nav>



<nav class="navbar  navbar-light bg-light .d-block .d-sm-none">
  <a class="navbar-brand" href="#"></a>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="categorias">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="home" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" (click)="isCollapsed = !isCollapsed"><i
            class="icon fas fa-search-dollar me-2"></i>Promoções</a>
      </li>
      <li class="nav-item active">
        <a routerLink="hamburger" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" (click)="isCollapsed = !isCollapsed"><i
            class="icon fas fa-hamburger me-2"></i>Sanchuíches</a>
      </li>
      <li class="nav-item">
        <a routerLink="porcoes" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" (click)="isCollapsed = !isCollapsed"><i
            class="icon fas fa-drumstick-bite me-2"></i>Porções</a>
      </li>
      <li class="nav-item">
        <a routerLink="bebidas" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" (click)="isCollapsed = !isCollapsed"><i
            class="icon fas fa-cocktail me-2"></i>Bebidas</a>
      </li>
      <li class="nav-item">
        <a routerLink="alcoolicas" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" (click)="isCollapsed = !isCollapsed"><i
            class="icon fas fa-beer me-2"></i>Bebidas Alcoólicas</a>
      </li>
      <li class="nav-item">
        <a routerLink="porcoes" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" (click)="isCollapsed = !isCollapsed"><i
            class="icon fas fa-ice-cream me-2"></i>Sobremesas</a>
      </li>
      <li class="nav-item">
        <a routerLink="porcoes" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"  (click)="isCollapsed = !isCollapsed"><i
            class="icon fas fa-pizza-slice me-2"></i>Pizza</a>
      </li>
    </ul>

  </div>
</nav>

