.card-header {
  height: 6rem;
}

.pedido{
    margin-left: 38%;
    width: 50px;
}

.pedido-amarelo{
  background-color: #FAFF00;
}

.pedido-concluido{
  background-color: #12D749;
}

.card-title{
  text-align: center;
}
