<div class="container">
  <div class="d-flex  p-3 my-3 text-white bg-secondary rounded shadow-sm" id="nav">
    <div class="d-flex align-itens-center mr-auto">
      <img class="logo" src="/assets/smart-service-branco.png" width="50%"> <span
      class="logo"></span>

    </div>
    <div class="p-3">
      <h3><i class="fa fa-check-square" aria-hidden="true"></i> Painel de Pedidos</h3>
    </div>
    <div class="p-3">
      <a href="/pedidos">
        <button class="btn btn-outline-light">
          Ir para Pedidos
       </button>
    </a>
    </div>
    <div class="p-3">
      <a href="/home">
        <button class="btn btn-outline-light">
          Ir para Home
       </button>
    </a>
    </div>

  </div>

  <div class="card rounded shadow-sm p-3">


    <main class="content">
      <div class="container p-0">

          <div class="row">
              <div class="col-12 col-lg-6 col-xl-3">
                  <div class="card card-border-primary">
                      <div class="card-header">
                          <div class="align-itens-center">
                            <img class="pedido" src="/assets/pedidos/aguardando-confirmacao.png" width="50%" style="text-align: center;">
                          </div>
                          <h5 class="card-title" >Aguardando Confirmação</h5>

                      </div>
                      <div class="card-body p-3">

                          <div class="card mb-3 bg-light pedido-amarelo">
                              <div class="card-body p-3 pedido-amarelo">
                                  <div class="float-right mr-n2">
                                      <label class="custom-control custom-checkbox">
                                          <span class="custom-control-label"></span>
                                          <h5>PEDIDO 2655</h5>
                                      </label>
                                  </div>
                                  <p><b>Cliente</b> André Cypriano </p>
                                  <p><b>Endereço</b> Rua Av Ana Costa 79 </p>

                                  <a class="btn btn-outline-success btn-sm " href="#">Aceitar</a>
                                  <a class="btn btn-outline-danger btn-sm m-2" href="#">Cancelar</a>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
              <div class="col-12 col-lg-6 col-xl-3">
                  <div class="card card-border-warning">
                      <div class="card-header">
                          <div class="card-actions float-right">
                            <img class="pedido" src="/assets/pedidos/preparando.png" width="50%" style="text-align: center;">
                          </div>
                          <h5 class="card-title">Preparando</h5>

                      </div>

                      <div class="card-body">

                                        <div class="card mb-3 bg-light pedido-amarelo">
                                            <div class="card-body p-3 pedido-amarelo">
                                                <div class="float-right mr-n2">
                                                    <label class="custom-control custom-checkbox">
                                                        <span class="custom-control-label"></span>
                                                        <h5>PEDIDO 2655</h5>
                                                    </label>
                                                </div>
                                                <p style="text-align: center;"><b>Produtos:</b></p>
                                                <p>1 Hamburger</p>
                                                <p>2 batatas-fritas</p>
                                                <p>10 brejas</p>

                                                <a class="btn btn-outline-success btn-sm " href="#">Aceitar</a>
                                                <a class="btn btn-outline-danger btn-sm m-2" href="#">Cancelar</a>
                                            </div>
                                        </div>

                                        <div class="card mb-3 bg-light pedido-amarelo">
                                          <div class="card-body p-3 pedido-amarelo">
                                              <div class="float-right mr-n2">
                                                  <label class="custom-control custom-checkbox">
                                                      <span class="custom-control-label"></span>
                                                      <h5>PEDIDO 2655</h5>
                                                  </label>
                                              </div>
                                              <p style="text-align: center;"><b>Produtos:</b></p>
                                              <p>1 Hamburger</p>
                                              <p>2 batatas-fritas</p>
                                              <p>10 brejas</p>

                                              <a class="btn btn-outline-success btn-sm " href="#">Aceitar</a>
                                              <a class="btn btn-outline-danger btn-sm m-2" href="#">Cancelar</a>
                                          </div>
                                      </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-lg-6 col-xl-3">
                  <div class="card card-border-danger">
                      <div class="card-header">
                          <div class="card-actions float-right">
                            <img class="pedido" src="/assets/pedidos/entregando.png" width="50%" style="text-align: center;">
                          </div>
                          <h5 class="card-title">Entregando</h5>

                      </div>
                      <div class="card-body">

                        <div class="card mb-3 bg-light pedido-amarelo">
                          <div class="card-body p-3 pedido-amarelo">
                              <div class="float-right mr-n2">
                                  <label class="custom-control custom-checkbox">
                                      <span class="custom-control-label"></span>
                                      <h5>PEDIDO 777</h5>
                                  </label>
                              </div>
                              <p><b>Cliente</b> André Cypriano </p>
                              <p><b>Endereço</b> Rua Av Ana Costa 79 </p>

                              <a class="btn btn-outline-success btn-sm " href="#">Aceitar</a>
                              <a class="btn btn-outline-danger btn-sm m-2" href="#">Cancelar</a>
                          </div>
                      </div>



                      </div>
                  </div>
              </div>
              <div class="col-12 col-lg-6 col-xl-3">
                  <div class="card card-border-success">
                      <div class="card-header">
                          <div class="card-actions float-right">
                            <img class="pedido" src="/assets/pedidos/concluido.png" width="50%" style="text-align: center;">
                          </div>
                          <h5 class="card-title">Concluído</h5>
                      </div>
                      <div class="card-body">

                        <div class="card mb-3 bg-light pedido-amarelo">
                          <div class="card-body p-3 pedido-concluido">
                              <div class="float-right mr-n2">
                                  <label class="custom-control custom-checkbox">
                                      <span class="custom-control-label"></span>
                                      <h5>PEDIDO 2655</h5>
                                  </label>
                              </div>
                              <p><b>Cliente</b> André Cypriano </p>
                              <p><b>Endereço</b> Rua Av Ana Costa 79 </p>
                              <p><b>Data</b> 23/03/1995 </p>
                              <p><b>Valor total: </b>R$ 88,55 </p>

                          </div>
                        </div>


                      </div>
                  </div>
              </div>
          </div>

      </div>
  </main>






















  </div>



</div>
